@model IEnumerable<ET.Authors>

@using GridMvc.Html;



<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>
<script type="text/javascript">
    function CreateNew() {
        var url = '@Url.Action("Create", "Authors")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
</script>
<script type="text/javascript">
    function OpenLink(link) {
        var url = link;
        window.open(url, '_blank');
    }
</script>
<div>
    <a id="BtnNew" class="button small" href="#" onclick="CreateNew();">Agregar nuevo Autor</a>
</div>
<div class="code-cut" style="width: 90%; font-size: 15px;">
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.AuthorName).Titled("Nombre del Autor").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => Html.ActionLink("Editar", "Edit", new { id = c.AuthorID }));
    Columns.Add()
        .Titled("Perfil")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => c.ActiveLink? new HtmlString("<a id='ProfileLink' href='#' onclick='OpenLink(" + c.ProfileLink.ToString() + ");'>Perfil</a>") : new HtmlString("<p>No disponible</p>"));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => Html.ActionLink("Repertorio Interno", "Details", new { id = c.AuthorID }));
}).WithPaging(10).Sortable(true)
</div>