@model IEnumerable<ET.Users>

@using GridMvc.Html;

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<div class="code-cut" style="width: 90%;">
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.FullName).Titled("Nombre").Filterable(true);
    Columns.Add(c => c.UserName).Titled("Usuario").Filterable(true);
    Columns.Add(c => c.RolesData.RoleName).Titled("Rol").Filterable(true);
    Columns.Add(c => c.Email).Titled("Correo").Filterable(true);
    Columns.Add().RenderValueAs(c => c.ActiveFlag? "Activo":"Inactivo").Titled("Status").Filterable(true);
    Columns.Add().RenderValueAs(c => c.AuthorizationFlag? "Autorizado":"No Autorizado").Titled("Autorizacion").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => Html.ActionLink("Editar","Edit", new { id = c.UserID }));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => c.ActiveFlag? Html.ActionLink("Deshabilitar","ChangeStatus", new { id = c.UserID }) : Html.ActionLink("Habilitar","Edit", new { id = c.UserID }));
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => c.AuthorizationFlag? new HtmlString ("<p></p>") : Html.ActionLink("Autorizar","Authorize", new { id = c.UserID }));
}).WithPaging(10).Sortable(true)
</div>