@model IEnumerable<ET.Users>

@using GridMvc.Html;

<div>
        @Html.ActionLink("Crear nuevo usuario", "Create",null, new { @class = "button small" })
</div>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>
<script type="text/javascript">
    function Authorize(id) {
        var url = '@Url.Action("Authorize", "Users", new { userid = "UserID" })';
        url = url.replace("UserID", id);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
</script>

<div class="code-cut" style="width: 90%; font-size: 15px;">
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.FullName).Titled("Nombre").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => Html.ActionLink("Editar","Edit", new { id = c.UserID }));
    Columns.Add(c => c.UserName).Titled("Usuario").Filterable(true);
    Columns.Add(c => c.RolesData.RoleName).Titled("Rol").Filterable(true);
    Columns.Add(c => c.Email).Titled("Correo").Filterable(true);
    Columns.Add().RenderValueAs(c => c.ActiveFlag ? "Activo" : "Inactivo").Titled("Status").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => c.ActiveFlag ? Html.ActionLink("Deshabilitar", "ActiveFlag", new { id = c.UserID, status = c.ActiveFlag }) : Html.ActionLink("Habilitar", "ActiveFlag", new { id = c.UserID, status = c.ActiveFlag }));
    Columns.Add().RenderValueAs(c => c.AuthorizationFlag ? "Autorizado" : "No Autorizado").Titled("Autorizacion").Filterable(true);
    Columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(c => c.AuthorizationFlag ? new HtmlString("<p></p>") : new HtmlString("<a id='AuthLink' href='#' onclick='Authorize(" + c.UserID + ");'>Autorizar</a>"));
}).WithPaging(10).Sortable(true)
</div>