@model IEnumerable<ET.MusicSheets>

@using GridMvc.Html;

@{
    ViewBag.Title = "Indice de Partituras";
}

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<script type="text/javascript">
    function Create() {
        var url = '@Url.Action("Create", "MusicSheets")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
</script>

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <div>
        <a id="BtnNew" class="button small" href="#" onclick="Create();">Agregar nueva Partitura</a>
    </div>
    <div style="width: 90%; font-size: 15px;">
        @Html.Grid(Model).Columns(Columns =>
           {
               Columns.Add(c => c.MSTypesData.MSTypeName).Titled("Tipo").Filterable(true);
               Columns.Add(c => c.SongsData.SongName).Titled("Canción").Filterable(true);
               Columns.Add(c => c.InstrumentsData.Instrument).Titled("Instrumento").Filterable(true);
               Columns.Add()
                .Titled("Versión")
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(c => c.Version == "NV" ? new HtmlString("<p>No disponible</p>") : new HtmlString("<a id='OpenLink' href='#' onclick='OpenLink(" + c.Version.ToString() + ");'>Ver versión</a>"));
               Columns.Add(c => c.Tonality).Titled("Tonalidad").Filterable(true);
               Columns.Add(c => c.FileName).Titled("Nombre del archivo").Filterable(true);
               Columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .RenderValueAs(c => Html.ActionLink("Descargar", "DownLoadFile", new { id = c.MSID }));
           }).WithPaging(10).Sortable(true)
    </div>
</div>