
@{
    ViewBag.Title = "Vizor";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}


<h2>Vizor</h2>

<iframe src="@Url.Action("GetPDF", new {id = ViewBag.ID})" style="width: 100%;height: 500px;"></iframe> 

