@{
    ViewBag.Title = "Restablecer contraseña - Confirmación";
}

<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup>
<div>
    <p>
        Su solicitud para restablecer su contraseña ha sido enviada, por favor revise su correo.
    </p>
</div>

