@{
    ViewBag.Title = "Confirmación de Registro";
}
<!DOCTYPE HTML>

<link href="~/assets/css/main.css" rel="stylesheet" />

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        Gracias @ViewBag.FullName por registrarse...

        Su cuenta aun esta pendiente de autorizar, pero será autorizada in las próximas 24 horas.

        Bendiciones...
    </p>
</div>
