@{
    ViewBag.Title = "Confirmación de Registro";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Gracias @ViewBag.FullName por registrarse....
        
        Su cuenta aun esta pendiente de autorizar, pero será autorizada in las próximas 24 horas. 
        
        Bendiciones...
    </p>
</div>
